.barraSuperior
{
    width: 80%;
    height: 63px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center
}

.logoCabecalho
{
    width: 15%;
}

.containerMenuModalidades
{
    width: 100%;
    background-image: url(../../img/bg-topo.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    padding: 20px 1%;
    box-sizing: border-box;
    object-fit: cover;
}
